---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";
// Fonts
//@font-face {
//    font-family: 'Fira Sans';
//}
// Our variables
$base-font-family: "Fira Sans",
Helvetica,
Arial,
sans-serif;
$base-font-size: 16px;
$base-font-weight: 400;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;
$spacing-unit: 30px;
$text-color: #111;
$background-color: #fdfdfd;
$brand-color: #2a7ae2;
$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);
// Width of the content area
$content-width: 800px;
$on-palm: 600px;
$on-laptop: 800px;
// Colors
$primary: #D8E6E7;
$secondary: #ABD0CE;
$accent1: #7C7877;
$accent2: #D9D4CF;
$accent3: darken($accent1, 20%);
// Mixins
@mixin centerer($position: relative) {
    position: $position;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin v-center($position: relative) {
    position: $position;
    top: 50%;
    transform: translateY(-50%);
}

@mixin h-center($position: relative) {
    position: $position;
    left: 50%;
    transform: translateX(-50%);
}

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin inline() {
    height: 100%;
    display: inline-block;
    float: left;
    position: relative;
}

@mixin bg-image($url, $hPos: center, $vPos: center) {
    background-image: url('' + $url);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: $hPos $vPos;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "base",
"nav",
"banner",
"work",
"about",
"blog",
"contact",
"content",
"footer";
