<header class="site-header">

    <div class="wrapper">
        <nav id="nav">
            <div class="nav-content">
                <a id="home">Efflorescent</a>
                <a class="menu-item" id="about-icon">About</a>
                <a class="menu-item" id="work-icon">Work</a>
                <a class="menu-item" id="blog-icon">Blog</a>
                <a class="menu-item" id="contact-icon">Contact</a>
            </div>
        </nav>

        <!--
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <a href="#" class="menu-icon">
         Insert Menu Icon
      </a>

      <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>
-->

    </div>

</header>
