 #about {
     @extend #work;
     .info {
         img {
             @include inline;
             width: 23%;
             margin: .5%;
             border: 2px solid $primary;
         }
         h1 {}
         h2 {
             font-weight: normal;
             color: $secondary;
         }
         p {}
         h3 {}
         ul {
             padding: 0;
             margin: 0;
             list-style-type: none;
             @include inline;
             width: 50%;
             li {
                 img {
                     -webkit-filter: grayscale(100%);
                     /* Chrome, Safari, Opera */
                     filter: grayscale(100%);
                     width: 16px;
                     height: 16px;
                 }
                 i {
                     color: $accent3;
                 }
                 margin: 1em .5em;
                 span {
                     margin-left: 1em;
                 }
             }
         }
     }
 }
