 #contact {
     @extend #work;
     height: 90vh;
     text-transform: lowercase;
     h1 {
         text-transform: capitalize;
     }
     .half {
         @include inline;
         width: 50%;
         text-align: right;
         a {
             color: $accent1;
             i {
                 margin-bottom: 1em;
                 font-size: 5em;
             }
         }
         a:hover {
             color: $accent3;
         }
     }
     label {
         text-align: left;
         width: 100%;
         display: block;
     }
     input {
         padding: .25em;
         display: block;
         width: 100%;
         border: 0;
         border-bottom: 1px solid $accent3;
         margin: 2em 0;
         outline: none;
     }
     textarea {
         @extend input;
     }
     textarea:focus {
         border: 1px solid $accent3;
     }
     .submit {
         width: 101%;
         padding: .75em 0;
         border: 1px solid $accent3;
         border-radius: 0;
         background-color: white;
         color: $accent3;
         outline: none;
     }
     .submit:hover {
         background-color: $accent3;
         color: white;
     }
 }
