nav {
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $primary;
    z-index: 999;
    .nav-content {
        width: 100%;
        height: 100%;
        position: relative;
        a {
            text-decoration: none;
            color: $accent3;
            font-size: 1em;
        }
        #home {
            @include v-center(absolute);
            left: 2em;
            font-size: 2em;
        }
        #contact-icon {
            @include v-center(absolute);
            right: 2.5em;
        }
        #blog-icon {
            @include v-center(absolute);
            right: 7.25em;
        }
        #about-icon {
            @include v-center(absolute);
            right: 14.5em;
        }
        #work-icon {
            @include v-center(absolute);
            right: 10.5em;
        }
    }
}
